h1._title,
h2._title {
  font-size: 40px;
  line-height: 1em;
}
h3._title {
  font-size: 22px;
}

/* ------ Media Queries ------ */

/* 991.98-1192px - Large (container - 970px) */
@media screen and (max-width: 1152px) {
  
}
/* 767.98-991.98px - Medium (container - 750px) */
@media screen and (max-width: 991.98px) {
  
}
/* 479.98-767.98px - Small (container - 460px) */
@media screen and (max-width: 767.98px) {
  
}
/* .... - 479.98px - Mobile (padding 10px) */
@media screen and (max-width: 479.98px) {
  
}